In [1]:
import pandas as pd

demographics = pd.read_csv("Demographics_Customers_Eastern.csv")
churn1 = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn - 1.csv")
churn2 = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn - 2.csv")
churn3 = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn - 3.csv")

In [14]:
churn_df = pd.concat([churn1, churn2, churn3], ignore_index=True)

In [3]:
churn_df.columns = churn_df.columns.str.strip()

In [4]:
churn_df['TotalCharges'] = pd.to_numeric(churn_df['TotalCharges'], errors='coerce')
churn_df['MonthlyCharges'] = pd.to_numeric(churn_df['MonthlyCharges'], errors='coerce')
churn_df['tenure'] = pd.to_numeric(churn_df['tenure'], errors='coerce')

In [28]:
final_df['ChurnFlag'] = final_df['Churn'].apply(lambda x: 1 if x.strip().lower() == 'yes' else 0)

In [6]:
print("Missing values in each column:")
print(churn_df.isnull().sum())

Missing values in each column:
customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        12
Churn                0
ChurnFlag            0
dtype: int64

In [12]:
churn_df['TotalCharges'] = churn_df['TotalCharges'].fillna(0)

In [11]:
print("Missing values in each column:")
print(churn_df.isnull().sum())

Missing values in each column:
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [13]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7241 entries, 0 to 7240
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7241 non-null   object
 1   gender            7241 non-null   object
 2   SeniorCitizen     7241 non-null   int64
 3   Partner           7241 non-null   object
 4   Dependents        7241 non-null   object
 5   tenure            7241 non-null   int64
 6   PhoneService      7241 non-null   object
 7   MultipleLines     7241 non-null   object
 8   InternetService   7241 non-null   object
 9   OnlineSecurity    7241 non-null   object
 10  OnlineBackup      7241 non-null   object
 11  DeviceProtection  7241 non-null   object
 12  TechSupport       7241 non-null   object
 13  StreamingTV       7241 non-null   object
 14  StreamingMovies   7241 non-null   object
 15  Contract          7241 non-null   object
 16  PaperlessBilling  7241 non-null   object
 17  PaymentMethod     7241 non-null   object
 18  MonthlyCharges    7241 non-null   float64
 19  TotalCharges      7241 non-null   object
 20  Churn             7241 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [27]:
demographics.rename(columns={'CustomerID': 'customerID'}, inplace=True)
final_df = churn_df.merge(demographics, on='customerID', how='left')

In [24]:
#connection with the postgress 
from sqlalchemy import create_engine

username = 'postgres'      
password = 'EDB0011'  
host = 'localhost'
port = 5432
database = 'wa_telecom'   

engine = create_engine(f'postgresql+psycopg2://postgres:EDB0011@localhost:5432/wa_telecom')

In [26]:
from sqlalchemy import inspect

insp = inspect(engine)
print(insp.get_table_names())

['final_consolidated']

In [ ]:
#data transformation 
#1) age group transformation where different age group are combined together
if 'Age' in final_df.columns:
    final_df['AgeGroup'] = pd.cut(final_df['Age'], bins=[0,30,50,70,100],
                                  labels=['Youth','Adult','Senior','Super Senior'])

In [30]:
#2)(clv) Monthly charge Ã— number of months they stayed = total lifetime money
final_df['CLV'] = final_df['MonthlyCharges'] * final_df['tenure']

In [ ]:
#3) final verification
final_df[['customerID', 'ChurnFlag', 'AgeGroup', 'CLV']].head()

   customerID  ChurnFlag AgeGroup      CLV
0  7255-SSFBC          0    Adult  8082.00
1  3645-DEYGF          0    Youth    20.75
2  9323-HGFWY          0      NaN  2751.30
3  8544-GOQSH          0      NaN  1120.70
4  3363-DTIVD          0      NaN  7494.05

In [ ]:
final_df.to_sql('final_consolidated', engine, if_exists='replace', index=False)