In [13]:
fruits = ["Apple", "Banana", "Cherry", "Date"]
prices = [100, 50, 75]  
fruit_prices = list(zip(fruits, prices))
print("Fruit prices (zip):", fruit_prices)

from itertools import zip_longest
fruit_prices_full = list(zip_longest(fruits, prices, fillvalue=0))
print("Fruit prices (zip_longest):", fruit_prices_full)

cities = ["Paris", "London", "Tokyo"]
day_temps = [22, 18]  
night_temps = [15, 12, 20]
complete_temp = list(zip(cities, day_temps, night_temps))
print("Complete temperatures:", complete_temp)

all_temp = list(zip_longest(cities, day_temps, night_temps, fillvalue="N/A"))
print("All temperatures:", all_temp)

Fruit prices (zip): [('Apple', 100), ('Banana', 50), ('Cherry', 75)]
Fruit prices (zip_longest): [('Apple', 100), ('Banana', 50), ('Cherry', 75), ('Date', 0)]
Complete temperatures: [('Paris', 22, 15), ('London', 18, 12)]
All temperatures: [('Paris', 22, 15), ('London', 18, 12), ('Tokyo', 'N/A', 20)]

In [25]:

point = (5, 15)
x_coord, y_coord = point
print(f"Point: {point}")
print(f"X: {x_coord}, Y: {y_coord}")

color = [100, 150, 200]
r, g, b = color
print(f"\nColor: {color}")
print(f"R: {r}, G: {g}, B: {b}")

nums = [10, 20, 30, 40, 50, 60]
first, *middle, last = nums
print(f"\nNumbers: {nums}")
print(f"First: {first}, Middle: {middle}, Last: {last}")

a, b, *rest = nums
print(f"First two: {a}, {b}")
print(f"Rest: {rest}")


def total_cost(p1, p2, p3):
    return p1 + p2 + p3

items = [12.5, 7.75, 5.0]
cost = total_cost(*items) 
print(f"\nItems: {items}")
print(f"Total cost: ${cost:.2f}")

def user_info(name, age, country):
    return {"name": name, "age": age, "country": country, "status": "active"}

info = {"name": "Bob", "age": 30, "country": "USA"}
profile = user_info(**info)  
print(f"\nUser info: {info}")
print(f"Profile: {profile}")

Point: (5, 15)
X: 5, Y: 15

Color: [100, 150, 200]
R: 100, G: 150, B: 200

Numbers: [10, 20, 30, 40, 50, 60]
First: 10, Middle: [20, 30, 40, 50], Last: 60
First two: 10, 20
Rest: [30, 40, 50, 60]

Items: [12.5, 7.75, 5.0]
Total cost: $25.25

User info: {'name': 'Bob', 'age': 30, 'country': 'USA'}
Profile: {'name': 'Bob', 'age': 30, 'country': 'USA', 'status': 'active'}

In [1]:

students = [
    ("Anushka", 88, "B"),
    ("Aayushi", 95, "A"),
    ("Vijeta", 76, "C")
]
names, scores, grades = zip(*students)
print("Student columns:")
print("Names:", names)
print("Scores:", scores)
print("Grades:", grades)

sales = [
    ("Jan", 1000, 50),
    ("Feb", 1500, 65),
    ("Mar", 1200, 55)
]
months, revenue, units = zip(*sales)
print("\nSales columns:")
print("Months:", months)
print("Revenue:", revenue)
print("Units sold:", units)


matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed_matrix = list(zip(*matrix))
print("\nTransposed matrix:")
for row in transposed_matrix:
    print(list(row))


data = [
    ["Anushka", 90],
    ["Aayushi", 85],
    ["Devyani", 78],
    ["Juhi", 92]
]
names, marks = zip(*data)
print("\nNames:", names)
print("Marks:", marks)

Student columns:
Names: ('Anushka', 'Aayushi', 'Vijeta')
Scores: (88, 95, 76)
Grades: ('B', 'A', 'C')

Sales columns:
Months: ('Jan', 'Feb', 'Mar')
Revenue: (1000, 1500, 1200)
Units sold: (50, 65, 55)

Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

Names: ('Anushka', 'Aayushi', 'Devyani', 'Juhi')
Marks: (90, 85, 78, 92)

In [16]:
#Practice questions
product_codes = ["A001", "B002", "C003", "D004", "E005"]
product_names = ["Widget A", "Gadget B", "Tool C", "Device D", "Item E"]
unit_costs = [10.50, 25.75, 15.25, 30.00, 8.95]
quantities = [100, 50, 75, 25, 200]

complete_products = [
    {
        "code": code,
        "name": name,
        "unit_cost": cost,
        "quantity": qty,
        "total_value": cost * qty
    }
    for code, name, cost, qty in zip(product_codes, product_names, unit_costs, quantities)
]

print("Complete products:")
for product in complete_products:
    print(product)

avg_unit_cost = sum(unit_costs) / len(unit_costs)
print(f"\nAverage unit cost: ${avg_unit_cost:.2f}")

Complete products:
{'code': 'A001', 'name': 'Widget A', 'unit_cost': 10.5, 'quantity': 100, 'total_value': 1050.0}
{'code': 'B002', 'name': 'Gadget B', 'unit_cost': 25.75, 'quantity': 50, 'total_value': 1287.5}
{'code': 'C003', 'name': 'Tool C', 'unit_cost': 15.25, 'quantity': 75, 'total_value': 1143.75}
{'code': 'D004', 'name': 'Device D', 'unit_cost': 30.0, 'quantity': 25, 'total_value': 750.0}
{'code': 'E005', 'name': 'Item E', 'unit_cost': 8.95, 'quantity': 200, 'total_value': 1789.9999999999998}

Average unit cost: $18.09

In [17]:
sales_matrix = [
    [1000, 1200, 1100, 1300],  
    [800, 900, 950, 1000],    
    [1500, 1600, 1400, 1700]   
]

quarters = ["Q1", "Q2", "Q3", "Q4"]
q1, q2, q3, q4 = zip(*sales_matrix)


quarterly_totals = [sum(q1), sum(q2), sum(q3), sum(q4)]
print("Quarterly totals:", quarterly_totals)


quarter_summary = dict(zip(quarters, quarterly_totals))
print("Quarter summary:", quarter_summary)


best_quarter = max(quarter_summary, key=quarter_summary.get)
print("Best performing quarter:", best_quarter)

Quarterly totals: [3300, 3700, 3450, 4000]
Quarter summary: {'Q1': 3300, 'Q2': 3700, 'Q3': 3450, 'Q4': 4000}
Best performing quarter: Q4

In [27]:
timestamps = ["10:00", "10:15", "10:30", "10:45", "11:00"]
sensor_a_readings = [23.5, 24.1, 23.8, 24.5, 24.2]
sensor_b_readings = [65.2, 63.8, 64.5, 62.1]  
sensor_c_readings = [1013.2, 1015.1, 1012.8, 1016.3, 1014.5, 1017.2]  

def synchronize_sensor_data(timestamps, sensor_a, sensor_b, sensor_c):
   
    return [(t, a, b, c) for t, a, b, c in zip(timestamps, sensor_a, sensor_b, sensor_c)]

synchronized_data = synchronize_sensor_data(timestamps, sensor_a_readings, sensor_b_readings, sensor_c_readings)
print("Synchronized data:")
for record in synchronized_data:
    print(record)

Synchronized data:
('10:00', 23.5, 65.2, 1013.2)
('10:15', 24.1, 63.8, 1015.1)
('10:30', 23.8, 64.5, 1012.8)
('10:45', 24.5, 62.1, 1016.3)

In [29]:
employee_data = [
    ("Alice", "Engineering", 5, 75000),
    ("Bob", "Marketing", 3, 65000),
    ("Charlie", "Engineering", 7, 85000),
    ("Diana", "Sales", 4, 70000),
    ("Eve", "Marketing", 6, 72000)
]


names, departments, experience, salaries = zip(*employee_data)
print("Names:", names)
print("Departments:", departments)
print("Experience:", experience)
print("Salaries:", salaries)


dept_dict = {}
for dept, sal in zip(departments, salaries):
    dept_dict.setdefault(dept, []).append(sal)

dept_averages = {dept: sum(sals)/len(sals) for dept, sals in dept_dict.items()}
print("\nDepartment salary averages:", dept_averages)


enhanced_data = [
    (name, dept, sal, exp*1000, sal + exp*1000)
    for name, dept, exp, sal in employee_data
]
print("\nEnhanced employee data:")
for record in enhanced_data:
    print(record)

Names: ('Alice', 'Bob', 'Charlie', 'Diana', 'Eve')
Departments: ('Engineering', 'Marketing', 'Engineering', 'Sales', 'Marketing')
Experience: (5, 3, 7, 4, 6)
Salaries: (75000, 65000, 85000, 70000, 72000)

Department salary averages: {'Engineering': 80000.0, 'Marketing': 68500.0, 'Sales': 70000.0}

Enhanced employee data:
('Alice', 'Engineering', 75000, 5000, 80000)
('Bob', 'Marketing', 65000, 3000, 68000)
('Charlie', 'Engineering', 85000, 7000, 92000)
('Diana', 'Sales', 70000, 4000, 74000)
('Eve', 'Marketing', 72000, 6000, 78000)

In [20]:
class Student:

    # Constructor method
    def __init__(self, first, last, marks):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@school.com'
        self.marks = marks

    # instance method
    def fullname(self):
        return '{} {}'.format(self.first, self.last)

stu_1 = Student('Anushka', 'Makode', 88)
stu_2 = Student('Riya', 'Sharma', 92)
print(stu_1.fullname())   
print(stu_2.email)

Anushka Makode
Riya.Sharma@school.com

In [21]:
class Student:
    grade_increase = 1.05

    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def apply_increase(self):
        self.marks = int(self.marks * self.grade_increase)

    @classmethod
    def set_increase(cls, amount):
        cls.grade_increase = amount

    @staticmethod
    def is_weekend(day):
        return day.weekday() >= 5

Student.set_increase(1.1)
s1 = Student("Anushka", 85)
s1.apply_increase()
print(s1.marks)

import datetime
d = datetime.date(2025, 10, 4)
print(Student.is_weekend(d))

93
True

In [22]:
class Employee:
    def __init__(self, name, pay):
        self.name = name
        self.pay = pay

    def show(self):
        print(f"{self.name} - ₹{self.pay}")


class Developer(Employee):
    def __init__(self, name, pay, lang):
        super().__init__(name, pay)
        self.lang = lang


class Manager(Employee):
    def __init__(self, name, pay, team=None):
        super().__init__(name, pay)
        self.team = team if team else []

    def add_emp(self, emp):
        self.team.append(emp)

    def show_team(self):
        print(f"{self.name}'s Team:")
        for emp in self.team:
            print(f"--> {emp.name}")


dev1 = Developer("Anushka", 50000, "Python")
dev2 = Developer("Riya", 55000, "Java")
mgr = Manager("Priya", 80000, [dev1])

mgr.add_emp(dev2)
mgr.show_team()

Priya's Team:
--> Anushka
--> Riya

In [23]:
class Employee:
    def __init__(self, name, pay):
        self.name = name
        self.pay = pay

    def show(self):
        print(f"{self.name} - ₹{self.pay}")


class Developer(Employee):
    def __init__(self, name, pay, lang):
        super().__init__(name, pay)
        self.lang = lang


class Manager(Employee):
    def __init__(self, name, pay, team=None):
        super().__init__(name, pay)
        self.team = team if team else []

    def add_emp(self, emp):
        self.team.append(emp)

    def show_team(self):
        print(f"{self.name}'s Team:")
        for emp in self.team:
            print(f"--> {emp.name}")


dev1 = Developer("Anushka", 50000, "Python")
dev2 = Developer("Riya", 55000, "Java")
mgr = Manager("Priya", 80000, [dev1])

mgr.add_emp(dev2)
mgr.show_team()

Priya's Team:
--> Anushka
--> Riya

In [24]:
class Employee:
    def __init__(self, first, last):
        self.first = first
        self.last = last

    @property
    def email(self):
        return f"{self.first}.{self.last}@gmail.com"

    @property
    def fullname(self):
        return f"{self.first} {self.last}"

    @fullname.setter
    def fullname(self, name):
        first, last = name.split(" ")
        self.first = first
        self.last = last

emp = Employee("John", "Smith")
print(emp.email)
print(emp.fullname)

emp.fullname = "Anushka Makode"
print(emp.email)
print(emp.fullname)

John.Smith@gmail.com
John Smith
Anushka.Makode@gmail.com
Anushka Makode