In [1]:
# Function to calculate total marks of subjects
def total_marks(marks, subjects):
    total = 0
    for m, s in zip(marks, subjects):
        total += m
    return total

subjects = ["Math", "Science", "English"]
marks = [80, 75, 90]

print("Total Marks:", total_marks(marks, subjects))

def show_percentage(total, out_of=300):
    percent = (total / out_of) * 100
    return f"{percent:.2f}%"

total = total_marks(marks, subjects)
print("Percentage:", show_percentage(total))

Total Marks: 245
Percentage: 81.67%

In [2]:
# Function with optional parameters
def student_info(name, roll_no, age=None, grade=None):
    student = {
        "name": name,
        "roll_no": roll_no,
        "age": age if age else "Not given",
        "grade": grade if grade else "Not given"
    }
    return student

# Test
s1 = student_info("Anushka", 101)
s2 = student_info("Riya", 102, 20, "A")
print("Student 1:", s1)
print("Student 2:", s2)


# Function with variable arguments (*args)
def find_average(*marks):
    if not marks:
        return 0
    return sum(marks) / len(marks)

print("\nAverage 1:", find_average(80, 90, 85))
print("Average 2:", find_average(70, 60))


# Function with keyword arguments (**kwargs)
def student_record(name, **details):
    record = {"name": name}
    record.update(details)
    return record

# Test
stu1 = student_record("Anushka", age=20, city="Nagpur")
stu2 = student_record("Riya", age=21, course="IT", grade="A")

print("\nStudent Record 1:", stu1)
print("Student Record 2:", stu2)

Student 1: {'name': 'Anushka', 'roll_no': 101, 'age': 'Not given', 'grade': 'Not given'}
Student 2: {'name': 'Riya', 'roll_no': 102, 'age': 20, 'grade': 'A'}

Average 1: 85.0
Average 2: 65.0

Student Record 1: {'name': 'Anushka', 'age': 20, 'city': 'Nagpur'}
Student Record 2: {'name': 'Riya', 'age': 21, 'course': 'IT', 'grade': 'A'}

In [3]:
# Basic lambda functions
square = lambda x: x * x
add = lambda a, b: a + b
greet = lambda name: f"Hello, {name}!"

print("Square of 4:", square(4))
print("Add 5 and 10:", add(5, 10))
print(greet("Anushka"))

# Lambda with list of dictionaries
products = [
    {"name": "Pen", "price": 10, "qty": 5},
    {"name": "Book", "price": 50, "qty": 2},
    {"name": "Bag", "price": 300, "qty": 1}
]

# Calculate total price for each product
total_price = lambda item: item["price"] * item["qty"]

print("\nProduct totals:")
for p in products:
    print(f"{p['name']}: ₹{total_price(p)}")

# Filter high-value items
is_expensive = lambda item: total_price(item) > 100

print("\nExpensive items:")
for p in products:
    if is_expensive(p):
        print(p["name"])

Square of 4: 16
Add 5 and 10: 15
Hello, Anushka!

Product totals:
Pen: ₹50
Book: ₹100
Bag: ₹300

Expensive items:
Bag

In [4]:
# Employee data
employees = [
    {"name": "Riya", "dept": "IT", "salary": 50000, "exp": 2},
    {"name": "Amit", "dept": "HR", "salary": 40000, "exp": 3},
    {"name": "Sneha", "dept": "IT", "salary": 60000, "exp": 5},
    {"name": "Rahul", "dept": "Sales", "salary": 45000, "exp": 4}
]

print(f"Total employees: {len(employees)}")

# Filter: only IT employees
it_employees = list(filter(lambda e: e["dept"] == "IT", employees))
print("\nIT Employees:")
for e in it_employees:
    print(e["name"], "-", e["dept"])

# Filter: salary above 45000
high_salary = list(filter(lambda e: e["salary"] > 45000, employees))
print("\nHigh salary employees:")
for e in high_salary:
    print(e["name"], "-", e["salary"])

# Map: extract names
names = list(map(lambda e: e["name"], employees))
print("\nEmployee names:", names)

# Map: calculate bonus (10% of salary)
bonuses = list(map(lambda e: e["salary"] * 0.1, employees))
print("Bonuses:", bonuses)

# Sort: by salary ascending
sorted_by_salary = sorted(employees, key=lambda e: e["salary"])
print("\nSorted by salary:")
for e in sorted_by_salary:
    print(e["name"], "-", e["salary"])

Total employees: 4

IT Employees:
Riya - IT
Sneha - IT

High salary employees:
Riya - 50000
Sneha - 60000

Employee names: ['Riya', 'Amit', 'Sneha', 'Rahul']
Bonuses: [5000.0, 4000.0, 6000.0, 4500.0]

Sorted by salary:
Amit - 40000
Rahul - 45000
Riya - 50000
Sneha - 60000

In [5]:
# Function that takes another function
def apply_change(nums, func):
    return [func(x) for x in nums]

numbers = [2, 4, 6, 8]

# Functions using lambda
square = lambda x: x * x
double = lambda x: x * 2

print("Squares:", apply_change(numbers, square))
print("Doubles:", apply_change(numbers, double))

# Function returning another function
def make_adder(n):
    def adder(x):
        return x + n
    return adder

add5 = make_adder(5)
print("Add 5:", apply_change(numbers, add5))

# Function composition
def compose(f1, f2):
    return lambda x: f2(f1(x))

square_then_double = compose(square, double)
print("Square then Double:", apply_change(numbers, square_then_double))

Squares: [4, 16, 36, 64]
Doubles: [4, 8, 12, 16]
Add 5: [7, 9, 11, 13]
Square then Double: [8, 32, 72, 128]

In [6]:

def is_valid_temperature(temp):
    return -50 <= temp <= 50

temps = [22, 55, -10, 40, 100, -60]
valid = list(filter(is_valid_temperature, temps))
invalid = list(filter(lambda t: not is_valid_temperature(t), temps))

print("All temps:", temps)
print("Valid temps:", valid)
print("Invalid temps:", invalid)


sales = [
    {"item": "Laptop", "qty": 2, "price": 1000},
    {"item": "Mouse", "qty": 5, "price": 20},
    {"item": "Keyboard", "qty": 3, "price": 50}
]

def total_price(record):
    return record["qty"] * record["price"]

totals = list(map(total_price, sales))
print("\nSales totals:", totals)
print("Total revenue:", sum(totals))

All temps: [22, 55, -10, 40, 100, -60]
Valid temps: [22, -10, 40]
Invalid temps: [55, 100, -60]

Sales totals: [2000, 100, 150]
Total revenue: 2250

In [7]:
# practise question
def calculate_statistics(numbers):
    count = len(numbers)
    mean = sum(numbers) / count
    numbers.sort()
    median = numbers[count // 2] if count % 2 != 0 else (numbers[count//2 - 1] + numbers[count//2]) / 2
    return {
        "mean": round(mean, 2),
        "median": median,
        "min": min(numbers),
        "max": max(numbers),
        "count": count
    }

# Test data
test_numbers = [10.5, 20.3, 15.7, 25.1, 18.9, 22.4, 16.8]

stats = calculate_statistics(test_numbers)
print(stats)

{'mean': 18.53, 'median': 18.9, 'min': 10.5, 'max': 25.1, 'count': 7}

In [8]:

dirty_records = [
    {"name": "Alice", "age": 25, "salary": 50000},
    {"name": "Bob", "salary": 60000},
    {"name": "Charlie", "age": -5, "salary": 55000},
    {"name": "Diana", "age": 30, "salary": 70000},
]


clean_records = [r for r in dirty_records if "name" in r and r.get("age",0) > 0 and r.get("salary",0) > 0]

print(clean_records)

[{'name': 'Alice', 'age': 25, 'salary': 50000}, {'name': 'Diana', 'age': 30, 'salary': 70000}]