In [1]:
import pandas as pd

# Create a DataFrame (like a small table)
df = pd.DataFrame({
    'name': ['Bob', 'Jen', 'Tim'],
    'age': [20, 30, 40],
    'pet': ['cat', 'dog', 'bird']
})

print(df)

  name  age   pet
0  Bob   20   cat
1  Jen   30   dog
2  Tim   40  bird

In [3]:
sales = [100,130,119,92,35]
customer_account = ['B100','J101','X102','P103','R104']
city = ['BOS','LA','NYC','SF','CHI']

In [6]:
df = pd.DataFrame({
    'sales': sales,
    'customer_account': customer_account,
    'city': city
})

In [7]:
df.columns[0]

'sales'

In [8]:
df.sort_values('city', ascending=False)

   sales customer_account city
3     92             P103   SF
2    119             X102  NYC
1    130             J101   LA
4     35             R104  CHI
0    100             B100  BOS

In [9]:
df.iloc[-1]

sales                 35
customer_account    R104
city                 CHI
Name: 4, dtype: object

In [11]:
df = df[['customer_account','sales','city']]